[project]
name = "csv-script-test-task"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pytest>=9.0.2",
    "tabulate>=0.9.0",
]

[dependency-groups]
test = [
    "pytest>=9.0.2",
]
